<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SQLSERVERADONET35" connectionString="Server=10.70.29.163;Initial Catalog=KovaFischerSpeed;User ID=fischerreports2;Password=peLpCn6XyawaMnMPCVdDHTa3;"/>
    <!--  <add name="SQLSERVERADONET35" connectionString="Server=10.70.12.25;Initial Catalog=KovaFischer;User ID=FischerReader;Password=tVZSTVKgd8uSFDYirvsU;"/> -->
  </connectionStrings>
</configuration>
